<html>
<head>
	<title>Rock, Paper, Scissors, Ninja! Samurai!</title>
	<link rel="stylesheet" type="text/css" href="./css/styles.css"
</head>
<body>
	<h1>Rock, Paper, Scissors, Ninja! Samurai!</h1>
<%= yield %>
<img class='diagram' src='./images/rock-paper-scissors.png' width="700" height="700" alt="Rock Paper Scissors diagram">

</div>
</body>
</html>