<h2>Welcome <%= @player%></h2>

<form action="/play" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
	<button name="pick" value="Ninja">Ninja</button>
	<button name="pick" value="Samurai">Samurai</button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>
