body {
	font-family: Tahoma, Helvetica;
	background-color:#2facfa;
	width:100%;
}

a {
	position: absolute;
	top: 20%;
	left: 35%;
}

.diagram {
	opacity: 0.7;
    filter: alpha(opacity=70);
    position:absolute;
    top: 10%;
    left: 17%;
    z-index: -1;
}

form {
	color: #2facfa;
}

.player {
	margin: 20% 0 0 40%;
}

.paper {
	position: absolute;
	top: 85%;
	left: 20%;
}

.rock {
	position: absolute;
	top: 35%;
	left: 18%;
}

.scissors {
	position: absolute;
	top: 85%;
	left: 58%;
}

.ninja {
	position: absolute;
	top: 11%;
	left: 42%;
}

.samurai {
	position: absolute;
	top: 32%;
	left: 60%;
}

.result {
	font-size: 1.5em;
	color: green;
	position: absolute;
	top: 40%;
	left: 25%;
}

.computer{
	font-size: 1.5em;
	color: red;
	position: absolute;
	top: 40%;
	left: 25%;
}

