body {
	font-family: Tahoma, Helvetica;
	background-color:#2facfa;
	width:100%;
}

a {
	position: absolute;
	top: 20%;
	left: 35%;
}

.diagram {
	opacity: 0.7;
    filter: alpha(opacity=70);
    position:absolute;
    margin-top: -8%;
    left: 18%;
    z-index: -1;
    position: relative;
}

form {
	color: #2facfa;
}

.player {
	margin: 20% 0 0 40%;
}

.paper {
	position: absolute;
	top: 85%;
	left: 25%;
}

.rock {
	position: absolute;
	top: 37%;
	left: 23%;
}

.scissors {
	position: absolute;
	top: 85%;
	left: 64%;
}

.ninja {
	position: absolute;
	top: 13%;
	left: 46%;
}

.samurai {
	position: absolute;
	top: 36%;
	left: 66%;
}

.result {
	font-size: 1.5em;
	color: green;
	position: absolute;
	top: 40%;
	left: 25%;
}

.computer{
	font-size: 1.5em;
	color: red;
	position: absolute;
	top: 40%;
	left: 25%;
}

